$colors = {
  "primary-darker": #3A06C5,
  "primary-dark": #490FF3,
  "primary": #5B40FF,
  "primary-light": #AD9FFF,
  "primary-lighter": #D6CFFF,
  "primary-lightest-1": #EEECFC,
  "primary-lightest-2": #F6F6FE,

  "gray-darkest-2": #3C3C47,
  "gray-darkest-1": #54545E,
  "gray-darker": #7B7B85,
  "gray-dark": #A3A3AC,
  "gray": #CACAD3,
  "gray-light": #E5E5E9,
  "gray-lighter": #F2F2F4,
  "gray-lightest-1": #F7F7F8,
  "gray-lightest-2": #FAFAFB,

  "red": #F2453D,
}