$font-family = system

$font-size-s = 14px
$font-size-m = 16px
$font-size-l = 18px
$font-size-xxl = 24px

$font-sizes = {
  headline-1: 36px,
  headline-2: 30px,
  headline-3: 24px,
  headline-4: 20px,
  headline-5: 18px,
  text: 14px,
  caption: 12px
}

$font-weights = {
  normal: 400,
  semibold: 600,
  bold: 700
}
